.input-field {
    width: 100%;

    margin: 10px 0;
}

.input-field input {
    width: inherit;
    height: inherit;

    margin: 0;
    padding: 3px 0;

    border: none;
    border-bottom: 1px solid #9b9b9b;
    background-color: unset;

    outline: none;

    font-family: Verdana sans-serif;
    font-size: 18px;
}

.input-field-label {
    display: inline-block;
    font-size: 14px;
    color: #9b9b9b;
    margin: 2px 0;
}
