.event-page-container {
    min-height: inherit;

    letter-spacing: 2px;
    word-spacing: 2px;
}

.event-page-header {
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
}

.event-page-header-text {
    font-size: 5vw;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.event-page-main-block {
    display: flex;
    min-height: 50vh;
}

.event-page-main {
    width: 70%;
    padding: 10px 10px;
    margin-right: 10px;
    background-color: #f2f2f2;
}

.event-main-row {
    margin-bottom: 10px;
}

.event-main-row-header {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}

.event-main-row-content {
    font-size: 16px;
    font-weight: 400;
    text-indent: 1em;
}

.speakers-list {
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
}

.event-page-sidebar {
    width: 30%;
    padding: 10px;
    margin-left: 10px;

    background-color: #f2f2f2;
}

.event-sidebar-field {
    padding: 10px 0;
}

.event-sidebar-attendance {
    display: flex;
    flex-direction: column;

    padding: 10px 0;
}

.attenders-list-block {
    padding: 10px 0;
}

.attender-badge {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}


