.authorization-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authorization-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 600px;
}

.authorization-card {
    width: 50%;
}

.authorization-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.signup-link {
    padding: 10px 0;

    font-size: 14px;
    font-weight: 600;
}
