.header-container {
    height: 50px;

    font-weight: 500;
    background-color: #3f51b5;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navigation-bar {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.menu-block {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.authorization-block {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.authorization-block button {
    width: 100px;
    color: #fff;
}

.menu-item {
    width: 150px;
}

.menu-item:active {
    background-color: #1966c3;
    transition: background-color 0.25s ease-out;
}

.menu-item-link {
    display: block;
    height: 100%;
    text-align: center;
    line-height: 2.9;
    text-decoration: none;
    color: #fff;
}

.login-btn {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;

    text-decoration: none;
}

.login-btn:active {
    color: inherit;
}
