.header-container {
    height: 50px;

    font-weight: 500;
    background-color: #1976d2;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navigation-bar {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.menu-block {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.authorization-block, .authorized-user-block {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu-item {
    width: 150px;
}

.menu-item:active {
    background-color: #1966c3;
    transition: background-color 0.25s ease-out;
}

.menu-item-link {
    display: block;
    height: 100%;
    text-align: center;
    line-height: 2.9;
    text-decoration: none;
    color: #fff;
}

.authorization-button {
    width: 100px;
    background-color: unset;
    border: none;
    padding: 0;
    outline: none;
    margin: 0 5px;
}

.login-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;

    font-weight: 600;
}

.login-btn:hover {
    color: #1966c3;
    background-color: #fff;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.logout-btn {
    align-self: center;

    height: 38px;
    color: #750080;
    border: 1px solid #750080;
    border-radius: 5px;

    font-weight: 600;
}

.logout-btn:hover {
    color: #fff;
    background-color: #750080;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    cursor: default;
}
