.authorization-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authorization-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 600px;
}

.authorization-card {
    width: 50%;
}

.authorization-controls {
    display: flex;
    justify-content: flex-end;
}
