.create-event-form-block {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.create-event-form {
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 5px;

    padding: 5px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.create-event-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 5px 0;
}

.create-event-nested-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.nested-field-header {
    width: 95%;

    font-size: 16px;
    font-weight: 500;

    padding: 5px 0;

    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

.nested-field-header .deleteIcon:hover {
    cursor: pointer;
}

.create-event-nested-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

.row-field {
    display: flex;
    flex-direction: row;
}

.row-field-one, .row-field-two {
    width: 50%;
    display: flex;
}

.event-place-field, .event-start-field, .event-end-field, .event-address-field {
    width: 95%;
}

.row-field-one {
    justify-content: flex-start;
}

.row-field-two {
    justify-content: flex-end;
}

.nested-form-input {
    width: 45%;
}

.presentation-title {
    width: 95%;
}

.create-event-form-field-actions {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.create-event-form-field-actions button {
    margin: 0 10px;
}

.rw-btn-select {
    vertical-align: unset !important;
}

.date-time-field {
    flex-direction: row;
    justify-content: space-around;
}
